.feedback-form{
  input[type="checkbox"]:focus{
    @apply outline;
    outline: 2px solid #007293;
    outline-color: var(--highlight);
  }

  .rating-field{
    @apply mb-8 flex flex-col items-center;

    .rating-stars{
      @apply mb-4 text-left;
      unicode-bidi: bidi-override;
      direction: rtl;

      &:focus{
        @apply outline;
        outline: 2px solid #007293;
        outline-color: var(--highlight);
      }

      input{
        // Leave the input visible for screen readers
        @apply absolute opacity-0;

        &:checked{
          + .rating-value svg,
          ~ .rating-value svg{
            fill: #f5da4e;
          }
        }

        &:focus{
          + .rating-value{
            @apply outline;
            outline: 2px solid #007293;
            outline-color: var(--highlight);
          }
        }

        + label{
          margin: 0;
        }
      }

      .rating-value{
        @apply inline-block cursor-pointer;

        &:hover,
        &:focus{
          svg,
          ~ .rating-value svg{
            fill: #f5da4e;
          }
        }

        svg{
          fill: none;
        }
      }
    }
  }

  .feedback-field{
    @apply flex flex-col items-center;

    textarea{
      @apply w-full;
    }
  }

  .checkbox-field{
    @apply text-center;
  }
}

.add-recipient,
.add-condition{
  @apply ml-2 mb-2 mt-2;
}

.recipient-email{
  @apply mb-2 ml-2;
}

.condition-key{
  @apply mb-2 ml-[26px];
}

.condition-value{
  @apply mb-2 ml-4;
}
