<%= decidim_modal id: modal_id do %>
  <div>
    <h2><%= t(".title") %></h2>
  </div>
  <div id="<%= modal_id %>-content" aria-live="assertive">
    <%== cell(
      "decidim/feedback/feedback_details",
      model,
      show_email: false,
      show_email_link: show_email_link?,
      show_contact: show_contact?
    ) %>
  </div>
<% end %>
