<%= decidim_form_for(@form, url: recipient_group_path(recipient_group), html: { class: "form recipient-groups-form edit_recipient_group recipient_group_form_admin" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".save") %>
  </div>
<% end %>
