<p><%= t(".intro", organization_name: @organization.name) %></p>

<%== cell(
  "decidim/feedback/feedback_details",
  @feedback,
  show_email: true,
  show_email_link: false,
  show_contact: false
) %>

<p><%= t(".outro", organization_name: @organization.name) %></p>
